version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: weatherdb
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./server/initData.sql:/docker-entrypoint-initdb.d/initData.sql
    ports:
      - "5432:5432"

volumes:
  pgdata:
